<div class="wrap mt-5 mx-auto border border-dark border-5 w-50">
  <h1 class="text-center">
    Register
  </h1>
  <form action="/register" method="post">
    <div class="login mt-5 mx-auto ">
      <div class="d-flex flex-column">
        <label class="mx-auto" for="user">User Name</label>
        <input type="text" class="mb-4 w-75 mx-auto" placeholder="User Name" name="name" value="{{info.name}}"
          aria-label=" User email" id="user">
        <label class="mx-auto" for="user">User Email</label>
        <input type="text" class="mb-4 w-75 mx-auto" placeholder="User email" aria-label="User email" name="email"
          value="{{info.email}}">
        <label class="mx-auto" for="password">Password</label>
        <input type="text" class=" mb-4 w-75 mx-auto" placeholder="Password" aria-label="User Password" name="password"
          id="password">
        <label class="mx-auto" for="password">Confirm Password</label>
        <input type="text" class=" mb-5 w-75 mx-auto" placeholder="Confirm Password" aria-label="User Password "
          name="confirmPassword">
      </div>
    </div>
    <p class="lead mt-4 text-center">
      Have An Account? <a href="/">Login</a>
    </p>
    <div class="d-flex justify-content-center" id="cantrip">
      <button type="submit" class="btn btn-dark w-50 mb-2" id="login">Register</button>
    </div>
</div>